body{
    background: linear-gradient(to bottom, #003300, #1f6b24, #38993d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

nav{
    background-color: #2e7d32;
}

.card{
    background-color: #2e7d32;
    color: white;
}

.nav-link{
    font-weight:400;
    color: white;
}

.list-group-item{
    background-color: #2e7d32;
    color: white;
}

p{
    color: white;
}
h2{
    color: white;
}

h4{
    color: white;
}

label{
    color: white;
}

