body{
    background-color: rgb(53, 122, 53);
}

nav{
    background-color: rgb(67, 155, 67);
}

.card{
    background-color: rgb(67, 155, 67);
    color: white;
}

.nav-link{
    font-weight:400;
    color: white;
}

.list-group-item{
    background-color: rgb(67, 155, 67);
    color: white;
}

p{
    color: white;
}
h2{
    color: white;
}