body{
    background-color: rgb(53, 95, 53);
}

nav{
    background-color: rgb(42, 75, 42);
}

.card{
    background-color: rgb(42, 75, 42);
    color: lightgrey;
}

.nav-link{
    font-weight:400;
    color: lightgrey;
}